In [46]:
import numpy as np
import pandas as pd

In [47]:
houseprice1=pd.read_csv('train.csv')

In [48]:
houseprice2=pd.read_csv('test.csv')

In [49]:
train_cols = houseprice1.columns[:-1]
train_set = houseprice1[train_cols]

In [50]:
houseprice = pd.concat([train_set,houseprice2])
houseprice.shape

(2919, 80)

In [51]:
#Calculate the number of NaNs in each column
def cols_NaN():
    return houseprice.columns[houseprice.isnull().any()].tolist()
missing_vals = houseprice[cols_NaN()].isnull().sum()
print missing_vals

MSZoning           4
LotFrontage      486
Alley           2721
Utilities          2
Exterior1st        1
Exterior2nd        1
MasVnrType        24
MasVnrArea        23
BsmtQual          81
BsmtCond          82
BsmtExposure      82
BsmtFinType1      79
BsmtFinSF1         1
BsmtFinType2      80
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
Electrical         1
BsmtFullBath       2
BsmtHalfBath       2
KitchenQual        1
Functional         2
FireplaceQu     1420
GarageType       157
GarageYrBlt      159
GarageFinish     159
GarageCars         1
GarageArea         1
GarageQual       159
GarageCond       159
PoolQC          2909
Fence           2348
MiscFeature     2814
SaleType           1
dtype: int64

### MSZonin
There are 4 NaN values in this column
, check if the lot area is small enough to be considered residential

In [52]:
print houseprice[houseprice['MSZoning'].isnull()]
print houseprice.groupby(['MSZoning'], as_index=False).size()
#houseprice.groupby(['MSZoning'], as_index=False)['LotArea'].mean()
#houseprice.iloc[[1915, 2216, 2250, 2904]]
#print houseprice['MSZoning'].isnull().nonzero()

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
455   1916          30      NaN        109.0    21780   Grvl   NaN      Reg
756   2217          20      NaN         80.0    14584   Pave   NaN      Reg
790   2251          70      NaN          NaN    56600   Pave   NaN      IR1
1444  2905          20      NaN        125.0    31250   Pave   NaN      Reg

     LandContour Utilities      ...       ScreenPorch PoolArea PoolQC Fence  \
455          Lvl       NaN      ...                 0        0    NaN   NaN
756          Low    AllPub      ...                 0        0    NaN   NaN
790          Low    AllPub      ...                 0        0    NaN   NaN
1444         Lvl    AllPub      ...                 0        0    NaN   NaN

     MiscFeature MiscVal MoSold  YrSold  SaleType  SaleCondition
455          NaN       0      3    2009     ConLD         Normal
756          NaN       0      2    2008        WD        Abnorml
790          NaN       0      1    2008        WD         Normal
1444         NaN       0      5    2006        WD         Normal

[4 rows x 80 columns]
MSZoning
C (all)      25
FV          139
RH           26
RL         2265
RM          460
dtype: int64

In [53]:
#impute with most frequent value 'RL'
houseprice.loc[houseprice['MSZoning'].isnull(),'MSZoning'] = 'RL'

In [54]:
# impute houseprice['LotFrontage'] with mean value
LotFrontage_Mean = houseprice['LotFrontage'].mean(skipna=True)
houseprice.loc[houseprice['LotFrontage'].isnull(),'LotFrontage']=LotFrontage_Mean

In [55]:
#just to be sure, check is there are any more NaN in LotFrontage
houseprice['LotFrontage'].isnull().any()

False

In [56]:
#replace NaN in 'Alley' with None
houseprice.loc[houseprice['Alley'].isnull(),'Alley'] = None

In [57]:
#check if MasVnrType and MasVnrArea have NaNs in same rows
houseprice[['MasVnrType','MasVnrArea']][houseprice['MasVnrType'].isnull()==True]
#so yes

     MasVnrType  MasVnrArea
234         NaN         NaN
529         NaN         NaN
650         NaN         NaN
936         NaN         NaN
973         NaN         NaN
977         NaN         NaN
1243        NaN         NaN
1278        NaN         NaN
231         NaN         NaN
246         NaN         NaN
422         NaN         NaN
532         NaN         NaN
544         NaN         NaN
581         NaN         NaN
851         NaN         NaN
865         NaN         NaN
880         NaN         NaN
889         NaN         NaN
908         NaN         NaN
1132        NaN         NaN
1150        NaN       198.0
1197        NaN         NaN
1226        NaN         NaN
1402        NaN         NaN

In [58]:
#Impute None for 'MasVnrType' and 0.0 for 'MasVnrArea'
houseprice.loc[houseprice['MasVnrType'].isnull(),'MasVnrType'] = None
houseprice.loc[houseprice['MasVnrArea'].isnull(),'MasVnrArea'] = 0.0

In [59]:
#check whether numerical values are 0 when corresponding categorical are NaN
basement_cols=['BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2','BsmtFinSF1','BsmtFinSF2']
houseprice[basement_cols][houseprice['BsmtQual'].isnull()==True]

,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,BsmtFinSF1,BsmtFinSF2
17,NaN,NaN,NaN,NaN,NaN,0.0,0.0
39,NaN,NaN,NaN,NaN,NaN,0.0,0.0
90,NaN,NaN,NaN,NaN,NaN,0.0,0.0
102,NaN,NaN,NaN,NaN,NaN,0.0,0.0
156,NaN,NaN,NaN,NaN,NaN,0.0,0.0
182,NaN,NaN,NaN,NaN,NaN,0.0,0.0
259,NaN,NaN,NaN,NaN,NaN,0.0,0.0
342,NaN,NaN,NaN,NaN,NaN,0.0,0.0
362,NaN,NaN,NaN,NaN,NaN,0.0,0.0
371,NaN,NaN,NaN,NaN,NaN,0.0,0.0
392,NaN,NaN,NaN,NaN,NaN,0.0,0.0
520,NaN,NaN,NaN,NaN,NaN,0.0,0.0
532,NaN,NaN,NaN,NaN,NaN,0.0,0.0
533,NaN,NaN,NaN,NaN,NaN,0.0,0.0
553,NaN,NaN,NaN,NaN,NaN,0.0,0.0
646,NaN,NaN,NaN,NaN,NaN,0.0,0.0
705,NaN,NaN,NaN,NaN,NaN,0.0,0.0
736,NaN,NaN,NaN,NaN,NaN,0.0,0.0
749,NaN,NaN,NaN,NaN,NaN,0.0,0.0
778,NaN,NaN,NaN,NaN,NaN,0.0,0.0
868,NaN,NaN,NaN,NaN,NaN,0.0,0.0
894,NaN,NaN,NaN,NaN,NaN,0.0,0.0
897,NaN,NaN,NaN,NaN,NaN,0.0,0.0
984,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1000,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1011,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1035,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1045,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1048,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1049,NaN,NaN,NaN,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...
608,NaN,NaN,NaN,NaN,NaN,0.0,0.0
660,NaN,NaN,NaN,NaN,NaN,NaN,NaN
662,NaN,NaN,NaN,NaN,NaN,0.0,0.0
728,NaN,NaN,NaN,NaN,NaN,0.0,0.0
729,NaN,NaN,NaN,NaN,NaN,0.0,0.0
730,NaN,NaN,NaN,NaN,NaN,0.0,0.0
733,NaN,NaN,NaN,NaN,NaN,0.0,0.0
756,NaN,NaN,NaN,NaN,NaN,0.0,0.0
757,NaN,Fa,No,Unf,Unf,0.0,0.0
758,NaN,TA,No,Unf,Unf,0.0,0.0
764,NaN,NaN,NaN,NaN,NaN,0.0,0.0
927,NaN,NaN,NaN,NaN,NaN,0.0,0.0
975,NaN,NaN,NaN,NaN,NaN,0.0,0.0
992,NaN,NaN,NaN,NaN,NaN,0.0,0.0
993,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1030,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1038,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1087,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1092,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1104,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1118,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1139,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1242,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1303,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1306,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1343,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1344,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1364,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1431,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1444,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [60]:
#since the NaN and 0 correspond to houses without basement, impute those variables
for cols in basement_cols:
    if 'FinSF'not in cols:
        houseprice.loc[houseprice[cols].isnull(),cols] = None
    else:
        houseprice.loc[houseprice[cols].isnull(),cols] = 0.0

In [61]:
#there is one NaN in 'Electrical', impute that with most frequent value
max_val=houseprice['Electrical'].value_counts().idxmax()
houseprice.loc[houseprice['Electrical'].isnull(),'Electrical'] = max_val

In [62]:
#FireplaceQu has 690 NaNs, see if these do not have a fireplace, then impute with None
print houseprice['FireplaceQu'].isnull().sum()
houseprice.loc[houseprice['FireplaceQu'].isnull(),'FireplaceQu'] = None

1420

In [63]:
#Now let's see if there are 690 houses with no fireplaces
houseprice['Fireplaces'].value_counts()

0    1420
1    1268
2     219
3      11
4       1
Name: Fireplaces, dtype: int64

In [64]:
garage_cols=['GarageType','GarageQual','GarageCond','GarageYrBlt','GarageFinish','GarageCars','GarageArea']
houseprice[garage_cols][houseprice['GarageType'].isnull()==True]

,GarageType,GarageQual,GarageCond,GarageYrBlt,GarageFinish,GarageCars,GarageArea
39,NaN,NaN,NaN,NaN,NaN,0.0,0.0
48,NaN,NaN,NaN,NaN,NaN,0.0,0.0
78,NaN,NaN,NaN,NaN,NaN,0.0,0.0
88,NaN,NaN,NaN,NaN,NaN,0.0,0.0
89,NaN,NaN,NaN,NaN,NaN,0.0,0.0
99,NaN,NaN,NaN,NaN,NaN,0.0,0.0
108,NaN,NaN,NaN,NaN,NaN,0.0,0.0
125,NaN,NaN,NaN,NaN,NaN,0.0,0.0
127,NaN,NaN,NaN,NaN,NaN,0.0,0.0
140,NaN,NaN,NaN,NaN,NaN,0.0,0.0
148,NaN,NaN,NaN,NaN,NaN,0.0,0.0
155,NaN,NaN,NaN,NaN,NaN,0.0,0.0
163,NaN,NaN,NaN,NaN,NaN,0.0,0.0
165,NaN,NaN,NaN,NaN,NaN,0.0,0.0
198,NaN,NaN,NaN,NaN,NaN,0.0,0.0
210,NaN,NaN,NaN,NaN,NaN,0.0,0.0
241,NaN,NaN,NaN,NaN,NaN,0.0,0.0
250,NaN,NaN,NaN,NaN,NaN,0.0,0.0
287,NaN,NaN,NaN,NaN,NaN,0.0,0.0
291,NaN,NaN,NaN,NaN,NaN,0.0,0.0
307,NaN,NaN,NaN,NaN,NaN,0.0,0.0
375,NaN,NaN,NaN,NaN,NaN,0.0,0.0
386,NaN,NaN,NaN,NaN,NaN,0.0,0.0
393,NaN,NaN,NaN,NaN,NaN,0.0,0.0
431,NaN,NaN,NaN,NaN,NaN,0.0,0.0
434,NaN,NaN,NaN,NaN,NaN,0.0,0.0
441,NaN,NaN,NaN,NaN,NaN,0.0,0.0
464,NaN,NaN,NaN,NaN,NaN,0.0,0.0
495,NaN,NaN,NaN,NaN,NaN,0.0,0.0
520,NaN,NaN,NaN,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...
938,NaN,NaN,NaN,NaN,NaN,0.0,0.0
939,NaN,NaN,NaN,NaN,NaN,0.0,0.0
962,NaN,NaN,NaN,NaN,NaN,0.0,0.0
966,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1092,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1093,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1097,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1115,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1119,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1143,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1149,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1231,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1233,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1248,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1307,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1311,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1329,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1331,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1339,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1399,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1402,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1410,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1428,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1431,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1432,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1433,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1449,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1453,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1454,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1457,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [65]:
#Garage Imputation
for cols in garage_cols:
    if houseprice[cols].dtype==np.object:
        houseprice.loc[houseprice[cols].isnull(),cols] = None
    else:
        houseprice.loc[houseprice[cols].isnull(),cols] = 0

In [66]:
#pool area 0 for 1453 houses
print houseprice['PoolArea'].value_counts()
#check if zero area = NaN
print "mismatches in PoolArea=0 and PoolQC=NaN is: ", houseprice['PoolArea'][houseprice['PoolQC'].isnull()==True].sum()

0      2906
561       1
555       1
519       1
800       1
738       1
648       1
576       1
512       1
480       1
444       1
368       1
228       1
144       1
Name: PoolArea, dtype: int64
mismatches in PoolArea=0 and PoolQC=NaN is:  1373

In [67]:
#impute PoolQC to None
houseprice.loc[houseprice['PoolQC'].isnull(),'PoolQC'] = None

In [68]:
#Fence is missing for 1179 houses, impute to None
#also impute misc.features to None
houseprice.loc[houseprice['Fence'].isnull(),'Fence'] = None
houseprice.loc[houseprice['MiscFeature'].isnull(),'MiscFeature'] = None

In [69]:
m=houseprice.applymap(lambda x: isinstance(x, float)) & houseprice.isnull()
missing = m.sum(axis=0)
print missing[missing>0]

Utilities       2
Exterior1st     1
Exterior2nd     1
BsmtUnfSF       1
TotalBsmtSF     1
BsmtFullBath    2
BsmtHalfBath    2
KitchenQual     1
Functional      2
SaleType        1
dtype: int64

In [70]:
houseprice['Utilities'].value_counts()

AllPub    2916
NoSeWa       1
Name: Utilities, dtype: int64

In [71]:
houseprice.loc[houseprice['Utilities'].isnull(),'Utilities'] = 'AllPub'

In [72]:
print houseprice['Exterior1st'].value_counts().index[0]
print houseprice['Exterior2nd'].value_counts().index[0]

VinylSd
VinylSd

In [73]:
houseprice.loc[houseprice['Exterior1st'].isnull(),'Exterior1st'] = 'VinylSd'
houseprice.loc[houseprice['Exterior2nd'].isnull(),'Exterior2nd'] = 'VinylSd'

In [74]:
print houseprice[houseprice['BsmtUnfSF'].isnull()]['BsmtQual']
print houseprice[houseprice['TotalBsmtSF'].isnull()]['BsmtQual']
print houseprice['BsmtUnfSF'].value_counts().index[0]
print houseprice['TotalBsmtSF'].value_counts().index[0]
houseprice.loc[houseprice['BsmtUnfSF'].isnull(),'BsmtUnfSF'] = 0.0
houseprice.loc[houseprice['TotalBsmtSF'].isnull(),'TotalBsmtSF'] = 0.0

660    None
Name: BsmtQual, dtype: object
660    None
Name: BsmtQual, dtype: object
0.0
0.0

In [75]:
print houseprice[houseprice['BsmtFullBath'].isnull()]['BsmtQual']
print houseprice[houseprice['BsmtHalfBath'].isnull()]['BsmtQual']
print houseprice['BsmtFullBath'].value_counts().index[0]
print houseprice['BsmtHalfBath'].value_counts().index[0]
houseprice.loc[houseprice['BsmtFullBath'].isnull(),'BsmtFullBath'] = 0.0
houseprice.loc[houseprice['BsmtHalfBath'].isnull(),'BsmtHalfBath'] = 0.0

660    None
728    None
Name: BsmtQual, dtype: object
660    None
728    None
Name: BsmtQual, dtype: object
0.0
0.0

In [76]:
print houseprice['Functional'].value_counts()
houseprice.loc[houseprice['Functional'].isnull(),'Functional'] = 'Typ'

Typ     2717
Min2      70
Min1      65
Mod       35
Maj1      19
Maj2       9
Sev        2
Name: Functional, dtype: int64

In [77]:
print houseprice[houseprice['KitchenQual'].isnull()]['KitchenAbvGr']
print houseprice['KitchenQual'].value_counts()
houseprice.loc[houseprice['KitchenQual'].isnull(),'KitchenQual'] = 'TA'

95    1
Name: KitchenAbvGr, dtype: int64
TA    1492
Gd    1151
Ex     205
Fa      70
Name: KitchenQual, dtype: int64

In [78]:
print houseprice['SaleType'].value_counts().index[0]
houseprice.loc[houseprice['SaleType'].isnull(),'SaleType'] = 'WD'

WD

In [79]:
num_cols = houseprice._get_numeric_data().columns
cols = houseprice.columns 
cats=list(set(cols) - set(num_cols))
num_cols= num_cols[2:]
cats.append('MSSubClass')
print cats

['MasVnrType', 'LotConfig', 'GarageQual', 'Exterior1st', 'GarageFinish', 'Electrical', 'BsmtQual', 'BsmtExposure', 'Foundation', 'GarageType', 'BsmtCond', 'HeatingQC', 'RoofStyle', 'CentralAir', 'Utilities', 'LotShape', 'MiscFeature', 'PavedDrive', 'LandSlope', 'BldgType', 'SaleType', 'MSZoning', 'Exterior2nd', 'Heating', 'RoofMatl', 'FireplaceQu', 'KitchenQual', 'BsmtFinType2', 'BsmtFinType1', 'Condition2', 'Condition1', 'GarageCond', 'LandContour', 'Neighborhood', 'Fence', 'SaleCondition', 'ExterQual', 'Functional', 'Alley', 'Street', 'HouseStyle', 'ExterCond', 'PoolQC', 'MSSubClass']

In [80]:
for i in cats:
    houseprice[i]=houseprice[i].astype('category')

In [81]:
houseprice_cats = pd.get_dummies(houseprice[cats])
houseprice_num = houseprice[num_cols]
houseprice=pd.concat([houseprice_num,houseprice_cats], axis=1)
train_new= houseprice.head(1460)
test_new=houseprice.tail(len(houseprice)-1460)

In [82]:
train_new.loc[:,'SalePrice']=houseprice1.loc[:,'SalePrice']

In [193]:
(np.array(sorted(train_new.loc[train_new.loc[:,'Fence']=='GdPrv','SalePrice'].values)[:-1])).mean()

173822.75862068965

In [83]:
train_new.columns

Index([u'LotFrontage', u'LotArea', u'OverallQual', u'OverallCond',
       u'YearBuilt', u'YearRemodAdd', u'MasVnrArea', u'BsmtFinSF1',
       u'BsmtFinSF2', u'BsmtUnfSF',
       ...
       u'MSSubClass_75', u'MSSubClass_80', u'MSSubClass_85', u'MSSubClass_90',
       u'MSSubClass_120', u'MSSubClass_150', u'MSSubClass_160',
       u'MSSubClass_180', u'MSSubClass_190', u'SalePrice'],
      dtype='object', length=304)

In [177]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure()
l='/home/dpk/LinReg/Neighbour vs Price.png'
swarm= sns.swarmplot(x='Neighborhood', y='SalePrice', data=train_new,size=4)
for item in swarm.get_xticklabels():
    item.set_rotation(45)
plt.savefig(l)

In [131]:
print train_new.loc[:,'MSSubClass'].value_counts()
train_new.groupby(['MSSubClass']).mean().loc[:,'SalePrice']
print (train_new.groupby(['MSSubClass']).mean().loc[:,'SalePrice']).sort_values()

20     536
60     299
50     144
120     87
30      69
160     63
70      60
80      58
90      52
190     30
85      20
75      16
45      12
180     10
40       4
Name: MSSubClass, dtype: int64
MSSubClass
30      95829.724638
180    102300.000000
45     108591.666667
190    129613.333333
90     133541.076923
160    138647.380952
50     143302.972222
85     147810.000000
40     156125.000000
70     166772.416667
80     169736.551724
20     185224.811567
75     192437.500000
120    200779.080460
60     239948.501672
Name: SalePrice, dtype: float64

In [134]:
l='/home/dpk/LinReg/MSZoningvs Price.png'
plt.figure()
sns.swarmplot(x='MSZoning', y='SalePrice', data=train_new)
plt.savefig(l)

In [169]:
l='/home/dpk/LinReg/Street vs Price.png'
plt.figure()
sns.swarmplot(x='Street', y='SalePrice', data=train_new)
plt.savefig(l)

In [170]:
l='/home/dpk/LinReg/Alley vs Price.png'
plt.figure()
sns.swarmplot(x='Alley', y='SalePrice', data=train_new)
plt.savefig(l)

In [171]:
print train_new.loc[:,'Street'].value_counts()
print train_new.loc[:,'Alley'].value_counts()

Pave    1454
Grvl       6
Name: Street, dtype: int64
Grvl    50
Pave    41
Name: Alley, dtype: int64

In [172]:
print train_new.loc[:,'LotShape'].value_counts()

Reg    925
IR1    484
IR2     41
IR3     10
Name: LotShape, dtype: int64

In [173]:
l='/home/dpk/LinReg/LotShape vs Price.png'
plt.figure()
sns.swarmplot(x='LotShape', y='SalePrice', data=train_new)
plt.savefig(l)

In [174]:
print train_new.loc[:,'LandContour'].value_counts()

Lvl    1311
Bnk      63
HLS      50
Low      36
Name: LandContour, dtype: int64

In [175]:
l='/home/dpk/LinReg/LandContour vs Price.png'
plt.figure()
sns.swarmplot(x='LandContour', y='SalePrice', data=train_new)
plt.savefig(l)

In [176]:
print (train_new.groupby(['LandContour']).mean().loc[:,'SalePrice']).sort_values()

LandContour
Bnk    143104.079365
Lvl    180183.746758
Low    203661.111111
HLS    231533.940000
Name: SalePrice, dtype: float64

In [179]:
print (train_new.groupby(['Utilities']).mean().loc[:,'SalePrice']).sort_values()
print train_new.loc[:,'Utilities'].value_counts()

Utilities
NoSeWa    137500.00000
AllPub    180950.95682
Name: SalePrice, dtype: float64
AllPub    1459
NoSeWa       1
Name: Utilities, dtype: int64

In [178]:
l='/home/dpk/LinReg/Utilities vs Price.png'
plt.figure()
sns.swarmplot(x='Utilities', y='SalePrice', data=train_new)
plt.savefig(l)

In [180]:
print (train_new.groupby(['LotConfig']).mean().loc[:,'SalePrice']).sort_values()
print train_new.loc[:,'LotConfig'].value_counts()

LotConfig
Inside     176938.047529
FR2        177934.574468
Corner     181623.425856
FR3        208475.000000
CulDSac    223854.617021
Name: SalePrice, dtype: float64
Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: LotConfig, dtype: int64

In [181]:
l='/home/dpk/LinReg/LotConfig vs Price.png'
plt.figure()
sns.swarmplot(x='LotConfig', y='SalePrice', data=train_new)
plt.savefig(l)

In [182]:
print (train_new.groupby(['LandSlope']).mean().loc[:,'SalePrice']).sort_values()
print train_new.loc[:,'LandSlope'].value_counts()

LandSlope
Gtl    179956.799566
Mod    196734.138462
Sev    204379.230769
Name: SalePrice, dtype: float64
Gtl    1382
Mod      65
Sev      13
Name: LandSlope, dtype: int64

In [183]:
l='/home/dpk/LinReg/LandSlope vs Price.png'
plt.figure()
sns.swarmplot(x='LandSlope', y='SalePrice', data=train_new)
plt.savefig(l)

In [184]:
for category in cats:
    l='/home/dpk/LinReg/'+category+' vs Price.png'
    plt.figure()
    sns.swarmplot(x=category, y='SalePrice', data=train_new)
    plt.savefig(l)

In [80]:
del train_new['SalePrice']

In [138]:
print train_new.loc[:,'MSZoning'].value_counts()
print (train_new.groupby(['MSZoning']).mean().loc[:,'SalePrice']).sort_values()

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64
MSZoning
C (all)     74528.000000
RM         126316.830275
RH         131558.375000
RL         191004.994787
FV         214014.061538
Name: SalePrice, dtype: float64

In [140]:
l='/home/dpk/LinReg/LotFrontage vs Price.png'
x_sqrt = np.sqrt(train_new.loc[:,'LotFrontage'])
plt.figure()
sns.regplot(x=x_sqrt, y=y)
plt.savefig(l)

In [159]:
l='/home/dpk/LinReg/LotArea vs Price.png'

x_sqrt = (train_new.loc[:,'LotArea']).copy()
#scaler.fit_transform(x_sqrt)
plt.figure()
sns.regplot(x=x_sqrt, y=y)
plt.savefig(l)

In [160]:
print len(x_sqrt)
def reject_outliers(data, m=2):
    flag=abs(data - np.mean(data)) < m * np.std(data)
    data[~flag]= np.median(data)
    return data
    
x_out= reject_outliers(x_sqrt)
print len(x_out)

1460
1460